a[target='_blank']:after {
  content: '\1F5D7'
}

/*
  Hides Sitecore Experience Editor markup,
  if you run the app in connected mode while the Sitecore cookies
  are set to edit mode.
*/
.scChromeData, .scpm { display: none !important; }

.notification {
  width:400px;
  background-color:rgb(150, 231, 227);
  position: fixed;
  bottom:0;
  right:0;
  border-style: solid;
  border-width: 1px;
  border-color:white;
  padding: 10px;
}

.hero {
    background-size: cover;
    background-position: center;
    min-height: 340px;
    background-color: #cccccc;
}
.hero-content {
    background: rgba(205,206,255,0.1);
}

.hero-content {
    background: rgba(205,206,255,0.1);
    padding: 20px 0;
}

.column {
    float: left;
    width: 32%;
    padding: 0 10px;
    margin: 20px 0;
}


/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.service-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}
.service-item:hover {
    background-color: lightslategray;
}

    .service-item a {
        color: #343a40 !important;
        text-decoration: none;
    }


/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/*Doctor-Listings*/
.doctor-item {
    width: 45%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    background-color: #f1f1f1;
    display: inline-block;
    margin: 10px;
}
    .doctor-item:hover {
     background-color: lightslategray;
    }

    .doctor-item a {
        text-decoration: none;
        color: #343a40 !important;
    }

.img-wrapper {
    width: 100%;
    margin-bottom: 15px;
    height: 270px;
}

.img-wrapper img {
        width: 100%;
        height: 100%;
}

.contentDescription {
    margin: 20px 0;
}